<div class="background"></div>
<div class="container">
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <div class="card">
          <div class="card-header">
            <h4>Login</h4>
            <div class="social-btns">
              <button mat-icon-button><i class="fa fa-facebook-square"></i></button>
              <button mat-icon-button><i class="fa fa-twitter"></i></button>
              <button mat-icon-button><i class="fa fa-google-plus"></i></button>
            </div>
          </div>
          <p class="tip">Or Be Classical</p>
          <form (ngSubmit)="loginUser()" [formGroup]="loginForm">
            <div class="card-form">
              <div class="form-row">
                <i class="material-icons">email</i>
                <mat-form-field color="accent">
                  <input type="text" formControlName="email" matInput placeholder="Email address"/>
                  <mat-error *ngIf="loginForm.controls.email.invalid">{{getErrorMessage('email')}}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <i class="material-icons">lock_outline</i>
                <mat-form-field color="accent">
                  <input type="password" formControlName="password" matInput placeholder="Password"/>
                  <mat-error *ngIf="loginForm.controls.password.invalid">{{getErrorMessage('password')}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" mat-button>LET'S GO</button>
            </div>
<!--            <div class="form-row" *ngIf="formSubmissionAttempt && errorResponse" style="display: block">-->
<!--              <span class="mat-error" *ngIf="errorResponse.errors.email">* {{ errorResponse.errors.email }}</span>-->
<!--              <span class="mat-error" *ngIf="errorResponse.errors.password">* {{ errorResponse.errors.password }}</span>-->
<!--            </div>-->
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
